@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --first-value-gradient: linear-gradient(
    271deg,
    #19335a 0.22%,
    #8fbaeb 116.36%
  );
  --foundation-blue-dark-hover: #012545;
  --natural-color-gray: #646368;
  --foundation-blue-normal: #023e73;
  --natural-color-black: #21272a;
  --foundation-blue-dark: #022f56;
  --natural-color-white: #fafafa;
}
